<div class="register-photo">
    <div class="form-container">
        <h1 class="text-center"><strong>Create Album</strong></h1>
        <hr>
        <div class="form-container">
            <form method="post" action="/albums/create">
                <p>Name</p>
                <div class="form-group">
                    <input class="form-control" type="text" name="name" placeholder="Name">
                </div>
                <p>Cover</p>
                <div class="form-group">
                    <input class="form-control" type="text" name="cover" placeholder="Cover">
                </div>

                <button class="btn btn-primary btn-sm" type="submit">Create</button>
            </form>
        </div>
        <a href="all">Back To All</a>
    </div>
</div>

