<div class="register-photo">
    <div class="form-container">
        <h1 class="text-center"><strong>Register</strong></h1>
        <hr>
        <div class="form-container">
            <form method="post" action="/users/register">
                <p>Username</p>
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <p>Password</p>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <p>Confirm password</p>
                <div class="form-group">
                    <input class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password">
                </div>
                <button class="btn btn-primary btn-sm" type="submit">Register</button>
            </form>
        </div>
    </div>
</div>

