<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>IRunes - best site for music</title>
    <link rel="stylesheet" href="bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="site.css" type="text/css" />
</head>
<body>
        <!--Main content-->
        @RenderBody()

    <div class="bottom-border-line primary-separator"></div>
    <div class="container">
        <footer>
            <p><strong>CopyRight© Sanity Design Studios. All rights reserved</strong></p>
        </footer>
    </div>
    <script src="jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="popper.min.js" type="text/javascript"></script>
    <script src="bootstrap.min.js" type="text/javascript"></script>
</body>
</html>